.main_content_mainpage {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 100px;
}

.main_content_mainpage span {
    color: #FF0101;
}

.choice_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 70%;
    margin: auto;
}

.choice_container button {
    margin: auto;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}