/** Activity chart **/
/*
    legend
*/
.header_activity_chart {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title_chart_activity {
    width: 50%;
    color: #20253A;
    font-size: 1.1em;
}

.legend_block {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legend_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.legend_content span {
    font-size: 0.9em;
    color: #74798C;
}

.legend_color_kilogram {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #282D30;
}

.legend_color_calories {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E60000;
}

/*
    tooltip
*/
.tooltip_activity_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background-color: #E60000;
}

.tooltip_content {
    margin: auto;
    text-align: center;
    color: white;
    height: 50%;
    padding: 20px 15px;
    font-size: 0.8em;
}


/** Session chart **/
.bloc_chart {
    position: relative;
}

.bloc_chart span {
    position: absolute;
    top: 30px;
    left: 20px;
    opacity: 0.7;
    color: white;
    max-width: 200px;
    font-size: 1.3em;
}

.black_side_cursor {
    /* width: 200px;
    height: 1000px; */
    background-color: black;
    opacity: 0.2;
}

/** Score chart **/
.score_title {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 1.3em;

}

/** Session chart **/
.container_tooltip_session {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

.ext_dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.int_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
}

/** Score chart **/
.score_label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2em;
    max-width: 100px;
    color: #74798C;
}

.bold_label {
    font-size: 1.5em;
    font-weight: bold;
    color: #282D30;
}

@media screen and (min-width: 1501px) {
    .text_performance_chart {
        font-size: 1.2em;
    }

    .title_chart_activity {
        width: 70%;
    }

    .legend_block {
        width: 30%;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1301px) {
    .text_performance_chart {
        font-size: 0.8em;
    }

    .title_chart_activity {
        width: 70%;
    }

    .legend_block {
        width: 30%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
    .text_performance_chart {
        font-size: 0.6em;
    }

    .title_chart_activity {
        width: 60%;
    }

    .legend_block {
        width: 40%;
    }
}