.aside_stats_block {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    gap: 10px;
}

.aside_datas {
    display: flex;
    flex-direction: column;
}

.aside_stats_datas {
    font-weight: bold;
    font-size: 1.3em;
}

.aside_datas_details {
    color: #74798C;
    font-size: 1.0em;
}