.aside_stats_block {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    gap: 10px;
}

.aside_datas {
    display: flex;
    flex-direction: column;
}

.aside_stats_datas {
    font-weight: bold;
}